{% extends 'base.html' %}

{% block title %}Casino Simulation({% endblock %}

{% block content %}
<center>
    <h2>Welcome to the Casino Simulation Homepage</h2>
    <p>We will make a slot machine simulation, and a black jack simulation</p>
    <p>User's will be able to purchase credits with a credit card and play games in the casino<br>
        No Real World Value, C/C function set to test user card#: 4242 4242 4242 4242 use any future expiration date and any 3-digit cvs
    </p>
</center>
{% endblock %}
