{% extends 'base.html' %}

{% block title %}Slot Machine{% endblock %}

{% block content %}

<div class="container" style="margin-top: 50px; height:750px width:100%">
    <div class="row flew-column" style="height:750px; margin-left: 10%">
        {% for reel_key, reel_data in reels.items() %}
            <div class="reel-container" align="center">
                <div class="col h-100 reel" id="reel{{ reel_key }}">
                    {% set total_weight = 0 %}
                    {% for symbol_data in reel_data.values() %}
                        {% set total_weight = total_weight + symbol_data['weight'] %}
                    {% endfor %}
                    {% for _ in range(1, 241) %}
                        {% set random_index = random_weighted_index(reel_data) %}
                        {% set symbol_data = reel_data[random_index] %}
                        <img src="{{ url_for('static', filename=symbol_data['image_url']) }}" class="symbol" width="150" height="150">
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div align="center">
    <button class="btn btn-primary" onclick="startSlotMachine()">Start</button>
</div>
<style>
    .reel-container {
        height: 750px; /* Adjust the height of the reel container as needed */
        overflow: hidden;
        border: 1px solid #ccc; /* Add border for better visualization */
    }

    .reel {
        display: flex;
        flex-direction: column;
        animation-name: slide;
        animation-duration: 10s;
        animation-timing-function: cubic-bezier(0.1, 0.65, 0.1, 1);
        animation-iteration-count: infinite;
    }

    @keyframes slide {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }

    .symbol {
        width: 100%;
        height: 150px;
        margin-bottom: 2px; /* Adjust the margin between symbols */
    }
</style>
<script>
function startSlotMachine() {
    // Start sliding animation for each reel
    for (let i = 1; i <= 5; i++) {
        slideReel('reel' + i);
    }
}

function slideReel(reelId) {
    const reel = document.getElementById(reelId);
    reel.style.animation = 'none'; // Reset animation
    reel.offsetHeight; // Trigger reflow
    reel.style.animation = null; // Start animation
}
</script>

{% endblock %}
