{% extends 'base.html' %}

{% block title %}Slot Machine{% endblock %}

{% block content %}
<div class="container">
    <div class="slots">
        {% for i in range(5) %}
            <div class="reels" style="background-image: url('{{url_for('static', filename=images[i])}}')">

            </div>
        {% endfor %}
        <button id="startButton" class="btn btn-primary">SPIN</button>
    </div>
</div>
<script>
    var symbols_positions = {
        {% for key, value in symbols_positions.items() %}
            {{ key|safe }}: {{ value|tojson|safe }},
        {% endfor %}
    };
</script>
{% endblock %}